* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: montserrat, 'sans-serif';
}

#resultado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 230px;
  height: 350px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;

  margin: 9px;
  margin-top: 20px;
}

.descricao {
  text-align: center;
}

.preco-de {
  color: red;
  text-decoration: line-through;
}

.preco-por {
  color: #5a5a5a;
  font-size: x-large;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  margin: 1px;
}

img {
  padding: 4px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}
